<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
</head>
<body>
	<div id="show">
		<h2 align="center">{{msg}}</h2>		
		<p align="center">
		정렬:
		<select v-model="aligns" >
			<option>center</option>
			<option>left</option>
			<option>right</option>
		</select>
		</p>
		<h2 v-bind:align="aligns">안녕!!</h2>
		<!-- 
			align이라는 속성을 model데이터와 연동할려면 v-bind:속성="모델명" 형식으로 사용
		 -->
	</div>
</body>
<script>
// v-model과 v-bind을 활용하여 <select v-model="aligns" 형식으로 처리하여,
// 선택에 따라, 특정 h2가 정렬이 오른쪽,왼쪽,중앙으로 되게 처리하세요.
	var vm = new Vue({
		el:"#show",
		data:{msg:"v-model을 통한 속성변경",aligns:"center"}
	});
</script>
</html>