<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >		
<!--
	public int getDeptCnt(int deptno);
	public Dept getDeptName(String dname);
	-->	
<mapper namespace="springweb.a02_mvc.a03_dao.A02_DeptDao">
	<select id="getDeptCnt" resultType="int" parameterType="int">
		 select count(*) cnt 
		 from dept 
		 where deptno=#{deptno}
	</select>
	<select id="getDeptName" resultType="dept" parameterType="String">
		 select * 
		 from dept
		 where dname=#{dname}	
	</select>
	<!-- 
	List<Dept2> getDept2List();
	 -->
	<resultMap type="dept2" id="dept2Rst">
		<result column="deptno" property="no"/>
		<result column="dname" property="name"/>
		<result column="loc" property="location"/>
	</resultMap> 
	<select id="getDept2List" resultMap="dept2Rst">
		select *
		from dept
	</select>
	<!-- 
	public List<Dept> getDeptList(Dept sch);
	 -->
	<select id="getDeptList" parameterType="dept" 
			resultType="dept">
		select *
		from dept02
		where dname like '%'||#{dname}||'%'
		and loc like '%'||#{loc}||'%'	
	</select>	
	
	<insert id="insertDept" parameterType="dept">
		insert into dept02 values(#{deptno}, #{dname}, #{loc})
	</insert>
	<update id="uptDept" parameterType="dept">
		update dept02
	       set dname = #{dname},
			    loc = #{loc}
		  where deptno = #{deptno}						
	</update>	
</mapper>